<!DOCTYPE html>
<html>
<head>
    <title>My Example Page 2</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <form action="/" method="get">
        <button type="submit">Go to home</button>
    </form>
</body>
</html>