<html>
    <head></head>

    <body>
        <h1>Don's ToDo App!</h1>
        <form action="/addtask" method="POST">
            <input type="text" id="task" name="task" placeholder="Add new ToDo">
            <button>Add To List</button>

            <% tasks.forEach(task => { %>
                <li>
                    <input type="checkbox" name="check" value="<%= task %>">
                    <%= task %>
                </li>
            <% }) %>

            <button formaction="/removetask" type="submit" id="top">
                Remove Task
            </button>
        </form>

        <h2> Completed tasks </h2>

        <form action="/changeFood" method="POST">
            <input type="text" name="food" placeholder="Change favourite food">
            <button>Change</button>
            
        </form>

        <h1><%= favouriteFood %></h1>

        
    </body>
</html>